.order{
    margin: auto;
    width: 600px;
}
.size{
    align-items: center;
    display: block;
    margin: 10px 0px;
    font-weight: 600;
    font-size: 20px;
}
.pizza_pic{
    width: 30px;
}
.customer_details{
    margin: 10px 0px;
    display: block;
}
h2, h3{
    margin: 10px 0px;
}

food_details{
font-size: 18px;
}